body {
    background-color: rgb(188, 178, 178);
    background-image: 
        linear-gradient(0deg, transparent 24%, rgba(95, 69, 37, 0.1) 25%, rgba(95, 69, 37, 0.1) 26%, transparent 27%, transparent 74%, rgba(95, 69, 37, 0.1) 75%, rgba(95, 69, 37, 0.1) 76%, transparent 77%),
        linear-gradient(90deg, transparent 24%, rgba(95, 69, 37, 0.1) 25%, rgba(95, 69, 37, 0.1) 26%, transparent 27%, transparent 74%, rgba(95, 69, 37, 0.1) 75%, rgba(95, 69, 37, 0.1) 76%, transparent 77%);
    background-size: 13rem 13rem; 

    font-family: "Handjet", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;

    margin: 0;
}
/* temporary border styling to see element boundaries */
section {
    border: 3px blue solid;
}


/* HEADER */
header {
    background-color: rgba(255, 255, 255, 0.333);
    backdrop-filter: blur(0.15rem);
}

/* ---------------section designs----------------*/

/* HOME */
.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 4rem;
}

.left-home, .right-home {
    display: flex;
    flex: 2;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}
.mid-home {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    gap: 1rem;
}
.right-home {
    flex: 1;
}

/* ---------------div designs----------------*/
.glasstile {
    border-radius: 2rem;
    background-color: rgba(234, 229, 189, 0.3);
    backdrop-filter: blur(0.15rem);
    box-shadow: 
        0.5rem 0.3rem 1rem rgba(56, 50, 50, 0.308), 
        inset 0.2rem 0.2rem 0.1rem 0 rgba(255, 255, 255, 0.482), 
        inset 4rem 4rem 9rem 0px rgba(55, 190, 220, 0.164),
        inset 14rem 15rem 17rem 0px rgba(180, 25, 25, 0.112);
    padding: 1rem;
}

.cleartile {
    border-radius: 2rem;
    background-color: rgba(234, 229, 189, 0.148);
    backdrop-filter: blur(0.15rem);
    box-shadow: 
        0.5rem 0.3rem 1rem rgba(56, 50, 50, 0.308), 
        inset 0.2rem 0.2rem 0.1rem 0 rgba(255, 255, 255, 0.762), 
        inset 4rem 4rem 9rem 0px rgba(219, 236, 249, 0.382),
        inset 14rem 15rem 17rem 0px rgba(9, 8, 8, 0.156);
    padding: 1rem;
}

/* home section tiles */

#title-tile {
    flex: 1 1 2rem;
    font-weight: 800;
}
#aboutme-tile {
    flex: 1 1 5rem;
    font-family: "Inter", system-ui;
    font-size: 1rem;
}

#portf-tile {
    flex: 1 1 8rem;
}

#contact-tile {
    flex: 1 1 1rem;
}


/* FOOTER */

footer {
    margin-top: 2rem;
    background-color: rgba(60, 60, 60, 0.225);
    backdrop-filter: blur(o.15rem);

    display: flex;
    align-items: end;
}

/* media queries */
/* PHONE */
@media (max-width: 480px) {
    .home {
        padding: 1.5rem;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .home {
        padding: 0.5rem;
    }
}
