body {
    background-color: rgb(188, 178, 178);
    background-image: 
        linear-gradient(0deg, transparent 24%, rgba(95, 69, 37, 0.1) 25%, rgba(95, 69, 37, 0.1) 26%, transparent 27%, transparent 74%, rgba(95, 69, 37, 0.1) 75%, rgba(95, 69, 37, 0.1) 76%, transparent 77%),
        linear-gradient(90deg, transparent 24%, rgba(95, 69, 37, 0.1) 25%, rgba(95, 69, 37, 0.1) 26%, transparent 27%, transparent 74%, rgba(95, 69, 37, 0.1) 75%, rgba(95, 69, 37, 0.1) 76%, transparent 77%);
    background-size: 13rem 13rem; 

    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}
/* temporary border styling to see element boundaries */
section {
    border: 3px black solid;
}

/* section designs */
.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    margin: 2rem;
}

/* div designs */
.glasstile {
    border-radius: 2rem;
    background-color: rgba(234, 229, 189, 0.3);
    backdrop-filter: blur(0.15rem);
    box-shadow: 
        0.5rem 0.3rem 1rem rgba(56, 50, 50, 0.308), 
        inset 0.2rem 0.2rem 0.1rem 0 rgba(255, 255, 255, 0.482), 
        inset 4rem 4rem 9rem 0px rgba(55, 190, 220, 0.362),
        inset 14rem 15rem 17rem 0px rgba(208, 18, 18, 0.201);
    padding: 1rem;
}

/* home section tiles */
#title-tile {
    flex: 1 1 10rem;
    font-weight: 800;
}
#aboutme-tile {
    flex: 1 1 5rem;
}

#portf-tile {
    flex: 1 1 3rem;
}

#contact-tile {
    flex: 1 1 1rem;
}

/* media queries */